@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
:root{
	--bg :#02031a;
	--red:#ff0841;
	--red-2: #b10c43;
	--black: #021b2b;
	--white:#ebdfcc;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
	image-rendering: pixelated;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}
#game{
	user-select: none;
}
#reels{
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    background: var(--bg);
}
	#reels-line{
		position: absolute;
		display: flex;
	    align-items: center;
	    justify-content: center;
		padding: 20px;
	}
	#reels-line div{
		display: flex;
		z-index: 20;
		background: var(--white);
		border-radius: 3px;
	}
	#reels-row{
		display: flex;
		gap: 20px;
	}
		#reels-row div{
			display: flex;
	    	align-items: center;
	    	justify-content: center;
			border-radius: 10px;
		}
			#reels-row div p{
				display: flex;
	    		align-items: center;
	    		justify-content: center;
				width: 80%;
				height: 80%;
		    	border: 3px solid var(--white); 
				border-radius: 50%;
		    	color: var(--white);
		    	font-family: cursive, 'Comfortaa';
		    	font-size: 30px;
		    	font-weight: 500;
			}
	.anim{
		animation: spin 0.1s ease-in-out infinite;
	}

	@keyframes spin{
		0%{
			transform: translateX(0);
		}
		50%{
			transform: translateX(-150px);
		}
		100%{
			transform: translateX(0px);
		}
	}
#lever{
	outline: none;
	padding: 20px;
}